
.userCard{
    .ant-statistic-content-value-decimal{
        font-size: 12px;
    }
}

.entryList{
    margin: 0 auto;
    overflow: auto;
    // width: 80vh;
    height: 85vh;
}

.accountList{
    position: fixed;
    left: 90;
    bottom: 10;
    width: '100%';
    border: 1px solid #e9e9e9;
    padding: 50px 60px 0;
    background: rgb(255, 255, 255);
    text-align: 'right';
    height:     100vh;
    width:     100%;
    overflow-y: scroll;
}


.expensesButton{
    width: '100%';
}

.descriptionList{
    .ant-descriptions-title .ant-descriptions-view .ant-descriptions-row .ant-descriptions-item-label {
        background: #fff;
    }
}


